<?xml version='1.0' encoding='utf-8'?>
<plugin id="mcnc-plugin-toast-message" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ToastMessage</name>
    <js-module name="ToastMessage" src="www/ToastMessage.js">
        <clobbers target="ToastMessage" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ToastMessage">
                <param name="android-package" value="mcnc.plugin.toast.message.ToastMessage" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ToastMessage.java" target-dir="src/mcnc/plugin/toast/message/ToastMessage" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ToastMessage">
                <param name="ios-package" value="ToastMessage" />
            </feature>
        </config-file>
        <source-file src="src/ios/ToastMessage.m" />
    </platform>
</plugin>
